.vanaf{
    text-align: center;
    horizontal-align: middle;
}

.tot{
    text-align: center;
    horizontal-align: middle;
}

.centertd{
    text-align: center;
    horizontal-align: middle;
    
}
